.repos {
  border: 1px solid #ccc;
  width: 100%;
}
ul.reposUL {
  padding: 0;
  margin: 0;
}
ul.reposUL li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #686003;
  background-color: #ccc;
}
ul.reposUL li.top {
  background-color: #ffea00;
}
.fa-star {
  color: #ffea00
}
.fa-code-fork {
  color: #686003
}